{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} Liste des parents {% endblock %}

{% block content %}
	<div class="container">
		{% if extract_list %}
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Groupe</th>
					</tr>
				</thead>
				<tbody>
					{% for row in extract_list %}
					<tr>
						<td class='col-sm-4'><a href="{% url 'extract:details' row.id %}">{{row.prénom}}</a></td>
						<td class='col-sm-4'>{{row.nom}}</td>
						<td class='col-sm-4'>{{row.groupe}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
			
	</div>
{% endblock %}